.about {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  overflow: hidden;
}

.about__upArrow {
  margin-top: 2px;
  display: flex;
  position: absolute;
  color: #262325;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  transform: scale(2.5);
}

.about__upArrow:hover {
  color: #ffc3c3;
  cursor: pointer;
}

.about__headerText {
  display: flex;
  position: absolute;
  font-size: 40px;
  margin-top: 2.5rem;
  color: #262325;
}

.about__leftArrow {
  display: flex;
  position: absolute;
  transform: scale(2);
  color: #262325;
  margin-top: 16rem;
  margin-right: 23rem;
}

.about__leftArrow:hover {
  color: #ffc3c3;
  cursor: pointer;
}

.about__rightArrow {
  display: flex;
  position: absolute;
  transform: scale(2);
  color: #262325;
  margin-top: 16rem;
  margin-left: 23rem;
}

.about__rightArrow:hover {
  color: #ffc3c3;
  cursor: pointer;
}

.slide {
  margin-top: 7.5rem;
  margin-bottom: 5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.current {
  opacity: 1;
}

.content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 1rem;
  color: #262325;
  animation: slide-up 1s ease .5s;
}

.content h2 {
  white-space: nowrap;
}

.content p {
  margin-top: 5px;
  max-width: 50rem;
  font-size: 18px;
}

.slideImage {
  width: 275px;
  height: 275px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 4%;
}

.about__downArrow {
  display: flex;
  position: absolute;
  bottom: 5rem;
  color: #262325;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.about__downArrow:hover {
  color: #ff5454;
  cursor: pointer;
}

@keyframes bounce {
  from {
    transform: translateY(0px) scale(2);
  }
  to {
    transform: translateY(-15px) scale(1.8);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px) scale(2);
  }
  to {
    transform: translateY(-15px) scale(1.8);
  }
}

@media screen and (max-width: 480px) {
  .about__upArrow {
    transform: scale(2);
  }
}

@media screen and (min-width: 768px) {
  .slideImage {
    width: 325px;
    height: 325px;
  }

  .about__rightArrow {
    margin-top: 18rem;
    margin-left: 28rem;
  }

  .about__leftArrow {
    margin-top: 18rem;
    margin-right: 28rem;
  }

  .about__headerText {
    margin-top: 2rem;
    font-size: 50px;
  }
}

